/* .form{
    background-color: aqua;
    color: aqua;
}

div{
    background-color: blueviolet;
    color: blueviolet;
}

/* td{
    background-color: limegreen;
    color: limegreen;
    
} */
/* h1{
    color: magenta;
} */ 